/* src/styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 480px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    margin-bottom: 0.5rem;
    display: block;
    color: #555;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #DD2A7B;
    outline: none;
}

button {
    background-color: #722B6A;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007bff;
}

.signup-link {
    text-align: center;
    margin-top: 1rem;
    color: #777;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
